*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    font-family: MicrosoftYaHei;
    
}
/* 
  ##PC
  ##1500px或更高分辨率
*/
@media (min-width: 1500px) {
  
    html{
        font-size: 16px;
    }
    
  }
/* 
  ##PC
  ##1350px- 1500px或更高分辨率
*/
@media (min-width: 1400px) {
  
    html{
        font-size: 12px;
    }
    
  }
  
  /* 
  ##PC
  ##1100px- 1350px
*/
@media (min-width: 1100px) and (max-width: 1400px) {
  
    html{
        font-size: 10px;
    }
    
  }
  /* 
    ##笔记本或PC
    ##1025px - 1350px
  */
  
  @media (min-width: 1025px) and (max-width: 1100px) {
    
    html{
        font-size: 10px;
    }
    
  }
  
  /* 
    ##平板电脑/Ipad竖屏
    ##768px - 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    html{
        font-size: 10px;
    }
    
  }
  
  /* 
    ##平板电脑或Ipad横屏
    ##768px - 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    html{
        font-size: 10px;
    }
    
  }